extends layout

block content
  .container
    h1 Panel Page
    p.lead Add or remove something worthwhile here.
    br
    form(method='post', action='/panel', enctype='multipart/form-data')
      input(name='title', type='text')
      input(name='content', type='text')
      input(name='featured', type='file')
      input(type='submit')
    